
.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  border-radius: 6px;
  list-style: none;
  overflow: hidden;
}
.list .list-item {
  margin: 0;
  padding: 0;
  position: relative;
}
.list .list-item:last-child {
  border: 0;
}
.hidden-box {
  position: absolute;
  top: -9999px;
  left: -9999px;
  appearance: none;
  opacity: 0;
}
.check--label {
  font-size: 14px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.check--label-box {
  display: flex;
  align-self: center;
  position: relative;
  height: 20px;
  width: 20px;
  margin: 0 20px;
  background-color: #4E606E;
  border-radius: 5px;
  cursor: pointer;
}
.check--label-text {
  display: flex;
  align-self: center;
  position: relative;
  cursor: pointer;
  padding: 15px;
}
.check--label-text:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 7.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: width 100ms ease-in-out;
}

}
.hidden-box:checked + .check--label .check--label-box {
  background-color: #3498db;
}
.hidden-box:checked + .check--label .check--label-box:after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 4px;
  width: 6px;
  height: 12px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hidden-box:checked + .check--label .check--label-text:after {
  width: 85%;
}
