*{
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Roboto', sans-serif;
}


.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.5;
  z-index: -1;
}

.blue{
  color: rgb(68, 171, 238);
}

body{
  background-color: rgba(247, 248, 249);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


/* partie Login */
.login{
  width: 30%;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  position: relative;
  top: 33%;

  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 2px 19px -1px rgba(0,0,0,0.75);
  border-radius: 3%;
}

.logoData{
  position: absolute;
  top: 15%;
  left: 41%;

  width: 300px;
}

.profilePic{
  position: relative;
  top: -15%;

  width: 150px;
  border-radius: 50%;

}

.profileName{
  margin-bottom: 10%;
  font-family: "Roboto";
}


/**/

a {
  text-decoration: none;
  line-height: 60px;
  color: black;
}

.btn-11{
  position: relative;
  display: block;
  overflow: hidden;
  width: 200px;
  height: 60px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid rgb(68, 171, 238);
  text-align: center;
}
@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

.btn-11 {
  position: relative;
  color: rgb(68, 171, 238);
}
.btn-11:before, .btn-11:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 20px;
  height: 20px;
  background-color: rgb(68, 171, 238);
  border-radius: 50%;
}
.btn-11:before {
  left: -20px;
          transform: translate(-50%, -50%);
}
.btn-11:after {
  right: -20px;
          transform: translate(50%, -50%);
}
.btn-11:hover {
  color: rgb(68, 171, 238);
}
.btn-11:hover:before {

          animation: criss-cross-left 1.5s both;

          animation-direction: alternate;
}
.btn-11:hover:after {

          animation: criss-cross-right 1.5s both;

          animation-direction: alternate;
}
